<nav class="nav">

  <div class="container">

    <h1 class="logo">
      <a href="{{ '/' | prepend: site.url }}">{{ site.title_left }}<span>{{ site.title_right }}</span>
      </a>
      <img src="/assets/images/magic-wand.png">
    </h1>

    <ul class="navbar">
      <li>
        <a href="{{ '/about' | prepend: site.url }}">about me</a>
      </li>
      <li>
        <a href="{{ '/tags' | prepend: site.url }}">tags</a>
      </li>
      <li>
        <a href="{{ " /feed.xml " | prepend: site.url }}" target="_blank">RSS</a>
      </li>
    </ul>

    <div class="divider"></div>
  </div>
</nav>