<nav class="nav">
  <div class="container">
    <h1 class="logo">
      <a href="https://j4sonshu.github.io/likemagic">{{ site.title_left }}<span>{{ site.title_right }}</span>
        <img src="/likemagic/assets/images/logo.png">
      </a>
      <!-- <div class="logo-me">a blog by <a href="https://jasonshu.me" target="_blank">jason shu</a></div> -->
    </h1>

    <!-- <ul class="navbar">
      <li>
        <a href="{{ '/about' | prepend: site.url }}">about me</a>
      </li>
      <li>
        <a href="{{ '/tags' | prepend: site.url }}">tags</a>
      </li>
      <li>
        <a href='/feed.xml' target="_blank">RSS</a>
      </li>
    </ul>
  -->
  
  </div>
</nav>