{% if site.postshare_enabled %}
<aside class="share">

  <!-- tags-->
  <p>tags: {% for tag in page.tags %} {% capture tag_name %}{{ tag }}{% endcapture %}
    <a href="/tags#{{ tag_name }}" class="tag">
      <nobr>{{ tag_name }}</nobr>
    </a>
    {% endfor %}
  </p>

  <p>share:
    <a href="http://twitter.com/share?text={{page.title}}&amp;url={{ page.url | prepend: site.baseurl | prepend: site.url }}&amp;via={{ site.twitter_username }}"
      onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">Twitter</a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.baseurl | prepend: site.url }}"
      onclick="window.open(this.href, 'facebook-share', 'width=550,height=235');return false;">Facebook</a>
  </p>

</aside>
{% endif %}