{% if site.postshare_enabled %}

<aside class="share">

  <!-- tags-->
  <div>
    <div>
      <p>tags:<br /></p>
      <p style="padding-top: 5px;">{% for tag in page.tags %} {% capture tag_name %}{{ tag }}{% endcapture %}

        <a href="/tags#{{ tag_name }}" class="tag">
          <nobr>{{ tag_name }}</nobr>
        </a>

      {% endfor %}
      </p>


   </div>

    <div>
      <p>share:</p>
      <p class = "sharethis-inline-share-buttons" style="padding-top: 5px;"></p>
    </div>
    
</div>

</aside>
{% endif %}