{% if site.postshare_enabled %}

<script src="//platform-api.sharethis.com/js/sharethis.js#property=5b73b228cf37800012d863a3&product=inline-share-buttons"></script>

<aside class="share">

  <!-- tags-->
  <p>tags: {% for tag in page.tags %} {% capture tag_name %}{{ tag }}{% endcapture %}
    <a href="/tags#{{ tag_name }}" class="tag">
      <nobr>{{ tag_name }}</nobr>
    </a>
    {% endfor %}
  </p>

  <p>share:</p><p class = "sharethis-inline-share-buttons" style="padding-top: 5px;"></p>

</aside>
{% endif %}